.Card_div{
    margin:20px !important;
    border:none !important;
    outline:none !important;
    border-radius:0px !important;
    height: max-content;
}
.Card_div_child{
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color:#121513 ;
  color: white;
  height: min-content;
}
@media screen and (max-width: 768px) {
    .Card_div{
      width: 100% !important;
      border: none;
      outline: none;
    }
}
    