.ForgotPassword{
    width: 100%;
    height: max-content;
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.ForgotPasswordData{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:60%;
    height:max-content ;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.ForgotPasswordData h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.ForgotPasswordData p{
    font-size: 20px;
    font-weight: 500;
  
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.ForgotPasswordData input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.ForgotPasswordData button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}
.Login_formData button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}